/* line 1, home/static/scss/styles.scss */
.content {
  background-color: red; }

/* line 2, home/static/scss/sidebar.scss */
.logo img {
  height: 120px; }

/* line 6, home/static/scss/sidebar.scss */
.sidebar-content {
  height: 100vh; }

/* line 1, home/static/scss/header.scss */
header {
  background-color: #666666; }

/* line 1, home/static/scss/base.scss */
.wrapper {
  display: flex; }

/* line 5, home/static/scss/base.scss */
.left {
  width: 20vw; }

/* line 9, home/static/scss/base.scss */
.right {
  width: 80vw; }
