{% extends 'pages/base.html' %}
{% load static %}
{% block title %} User {% endblock %}
{% block contents %}

<div class="list_user">
	<div class="row">
		<div class="col-md">
			<h5>FUNCTIONS OF USER</h5>
			<hr>
			<input type="text" id="myInput" onkeyup="search()" placeholder="Search for shop's names..">
			<div class="card card-body" id="table-wrapper">
				<div id="table-scroll">
					<table class="ui striped table" id="myTable">
						<thead>
							<tr class="table-row">
								<th class="text">Images</th>
								<th class="head">Shop's ID

								</th>
								<th class="head">Shop's Name

								</th>
								<th class="head">User's Name</th>
								<th class="head">Role</th>
								<th class="head">Info of Role</th>
							</tr>
						</thead>
						<tbody>
							{% for i in results %}

							<tr class="table-row" id="{{i}}">
								<td class="avatar-shop">
									<img 
										src="{% if shop.avatar_image %}{{ server_image }}/shop/logo/small/{{shop.avatar_image}}{% else %}{% static 'images/shop-default.png' %}{% endif %}" 
										alt=""
									>
								</td>
								<td>{{i.0}}</td>
								<td>{{i.1}}</td>
								<td>
									<!-- <input id="ferranMessage" type="checkbox" class="delete_checkbox" onClick="onToggle()"> -->
									<button class="btn" onClick="onToggle();" id="{{i}}">See More</button>
									{{i.2}}
								</td>
								<td id="function_U">
									{{i.3}}</td>
								<td class="table-head" colspan="{{results.list|length}}" id="{{i}}">
									<div class="role"><input type="checkbox" id="mycheckbox1">Pos</div>
									<div class="role"><input type="checkbox" id="mycheckbox2">Host Collection</div>
									<div class="role"><input type="checkbox" id="mycheckbox3">Chat</div>
									<div class="role"><input type="checkbox" id="mycheckbox4">Livestream</div>
									<div class="role"><input type="checkbox" id="mycheckbox5">Social Management</div>
									<div class="role"><input type="checkbox" id="mycheckbox6">Agency System</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

<style>
	.list_user .row {
		padding: 10px;
		background-color: #aed7f9;
		display: flex;
		border-radius: 3px;
	}

	h5 {
		color: rgb(54, 11, 94);
		font-weight: bold;
	}

	.button,
	h5 {
		display: inline;
	}

	.button {
		float: right;
	}


	th {
		background-color: rgb(184, 161, 199)
	}

	table {
		border-collapse: collapse;
	}

	tr {
		border: solid;
		border-width: 1px 0;
	}

	.navbar-row {
		background: white;
		right: 0px;
	}

	#table-wrapper {
		position: relative;
	}

	#table-scroll {
		height: 600px;
		overflow: auto;
		margin-top: 20px;
	}

	#table-wrapper table {
		width: 100%;
	}
</style>