
{% extends 'pages/base.html' %}
{% load static %}

{% block title %} Home page {% endblock %}

{% block contents %}
	<div class="shop-list">
		<div class="row">
			<div class="col-md">
				<h5>LIST SHOP</h5>
				<hr>
				<div class="card card-body" id="table-wrapper">
					<div id="table-scroll">
						<table class="ui striped table">
							<tr class="collum">
								<th class="text">Images</th>
								<th class="text">Name</th>
								<th class="text">Status</th>
								<th class="text">Date create</th>
								<th class="text">Data update</th>
								<th class="text">Update</th>
								<th class="text">Remove</th>
							</tr>

							{% for shop in shops %}
							<tr>
								<td class="avatar-shop">
									<img 
										src="{% if shop.avatar_image %}{{ server_image }}/shop/logo/small/{{shop.avatar_image}}{% else %}{% static 'images/shop-default.png' %}{% endif %}" 
										alt=""
									>
								</td>
								<td>{{shop.name}}</td>
								<td></td>
								<td>{{shop.created_at}}</td>
								<td>{{shop.updated_at}}</td>
								<td><a class="btn btn-sm btn-info" href="">Update</a></td>

								<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
							</tr>
							{% endfor %}

						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

<style>
	.row {
		background-color: #aed7f9;
		display: flex;
	}

	h5 {
		color: rgb(54, 11, 94);
		font-weight: bold;
	}

	.button,
	h5 {
		display: inline;
	}

	.button {
		float: right;
	}


	th {
		background-color: rgb(184, 161, 199)
	}

	table {
		border-collapse: collapse;
	}

	tr {
		border: solid;
		border-width: 1px 0;
	}

	.navbar-row {
		background: white;
		right: 0px;
	}

	#table-wrapper {
		position: relative;
	}

	#table-scroll {
		height: 600px;
		overflow: auto;
		margin-top: 20px;
	}

	#table-wrapper table {
		width: 100%;
	}
</style>