<!DOCTYPE html>
<html>

<head>
    {% load static %}
		{% load compress %}

		{% compress css %}
				<link type="text/x-scss" href="{% static 'scss/login.scss' %}" rel="stylesheet" media="screen">
		{% endcompress %}
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin&family=Mukta&family=Source+Code+Pro:wght@600&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome-5.15.4/css/fontawesome.min.css' %}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'bootstrap-5.1.3/css/bootstrap.min.css' %}">

    <script src="https://kit.fontawesome.com/eb26961326.js" crossorigin="anonymous"></script>
    <style>
    </style>
    <title>Login</title>
</head>

<body>
    <div class="login-form">
        <div class="form">
            {% comment %} <div class="signup-image">
                <figure>
                    <img src="{%static 'img/signin-image.jpg'%}">
                </figure>
                <p> <a href="{% url 'register' %}" class="ml-2">Create a count</a></p>
            </div> {% endcomment %}
            <div class="form-signin">
								<img src="{% static 'images/admin_login.gif' %}" alt="">
                {% comment %} <h3 id="form-title">SIGN IN</h3> {% endcomment %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" id="email" name="email" placeholder="Email ID"><br>
                    </li>
                    <li>
                        <i class="fas fa-lock" aria-hidden="true"></i>
                        <input type="password" name="password" placeholder=" Password"><br>
                    </li>

                    {% for message in messages %}
                    <p id="messages">{{message}}</p>
                    {% endfor %}

										<div class="remember-forgot">
											<div class="remember">
													<label class="checkbox">
															<input type="checkbox" name="checkbox" value="remember_me" checked>
															<i></i>
															<span style="cursor: pointer;color:#03135c">Remember me</span>
													</label>
											</div>
											<div class="forgot">
													<span style="cursor: pointer;color:#03135c">Forgot Password?</span>
											</div>
										</div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-secondary login_btn" type="submit" value="Log in">
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

</html>