<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	{% load compress %}
	{% compress css %}
	<link type="text/x-scss" href="{% static 'scss/styles.scss' %}" rel="stylesheet" media="screen">
	{% endcompress %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'bootstrap-5.1.3/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<div class="wrapper">
		<div class="left">
			{% include 'pages/master/sidebar.html' %}
		</div>
		<div class="right">
			<div class="header">
				{% include 'pages/master/header.html' %}
			</div>
			<div class="content container-fluid">
				{% block contents %}{% endblock contents %}
			</div>
		</div>
		{% include 'pages/master/footer.html' %}
	</div>
</body>
<script language="javascript" src="https://kit.fontawesome.com/eb26961326.js"></script>
<script language="javascript" src="{% static 'bootstrap-5.1.3/js/bootstrap.min.js'%}"></script>
<script language="javascript" src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
<script language="javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
<script language="javascript" src="{% static 'js/main.js'%}"></script>
<script language="javascript" src="{% static 'bootstrap-5.1.3/js/bootstrap.bundle.min.js'%}"></script>

</html>