.sidebar-wrap {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  img {
    max-width: 80%;
  }
}
.sidebar-content {
  height: 100vh;
}
i {
  position: absolute;
  margin: 0;
  display: flex;
}

.wrapper {
  .sidebar {
    ul {
      li {
        a {
          display: block;
          padding: 13px 30px;
          border-bottom: 1px solid #10558d;
          color: rgb(185, 178, 178);
          font-size: 16px;
          position: relative;
          .icon {
            color: #dee4ec;
            width: 30px;
            display: inline-block;
          }
          &:hover {
            color: #0c7db1;
            background: white;
            border-right: 2px solid rgb(5, 68, 104);
            .icon {
              color: #0c7db1;
            }
            &:before {
              display: block;
            }
          }
        }
        a.active {
          color: #f8f8f8;
          background: rgb(5, 68, 104);
          border-right: 2px solid rgb(5, 68, 104);
          .icon {
            color: #0c7db1;
          }
          &:before {
            display: block;
          }
        }
      }
    }
  }
}
